@import "mixins";

.header {
  width:100vw  !important;
  padding-top: 2%;
  padding-right: 6%;
}

.white-background {
  background-color: white;
}

.contact-info {
  margin-top: 0.8em;
}

.tag_line {
  font-weight: 900px;
}
