<div v-on:scroll="handleScroll">
  <b-row>
    <b-col>
      <div class="hero landing-hero">
        <b-row>
          <b-col md>
            <mycarousel id="top-carousel"></mycarousel>
          </b-col md>
          <b-col id="tag-line">
            <h4 class="green_text sans-serif-text">Courtney N. Moran, LL.M., founding principal of EARTH Law, LLC</h4>
            <b-img center :src="icon" width="100" height="100" alt="placeholder" rounded="circle"/>
            <h4 class="green_text sans-serif-text">The leading expert on industrial hemp law, championing legal policy for a sustainable Cannabis hemp industry</h4>
          </b-col>
        </b-row>
      </div>
    </b-col>
  </b-row>
</div>
