<div v-on:scroll="handleScroll">
  <b-row>
    <b-col>
      <div class="hero">
        <b-row>
          <b-col>
            <mycarousel id="top-carousel"></mycarousel>
          </b-col>
          <b-col id="tag-line">
            <h4 class="green_text sans-serif-text">Courtney N. Moran, LL.M., founding principal of EARTH Law, LLC</h4>
            <b-img :src="icon" width="128" height="128" alt="placeholder" rounded="circle"/>
            <h4 class="green_text sans-serif-text">The leading expert on industrial hemp law, championing legal policy for a sustainable Cannabis hemp industry</h4>
          </b-col>
        </b-row>
      </div>
      <div class="hero" id="scroll-practice">
        <h4 class="green_text heading_text ">Find Out How EARTHLAW can Help You!</h4>
        <router-link to="practice"><icon name="chevron-down"></icon></router-link>
      </div>
    </b-col>
  </b-row>
</div>
