<div v-on:scroll="handleScroll">
  <b-row class="main">
    <b-col>
      <div class="hero">
        <b-row>

          <b-col class="tag-line" id="tag-line-upper">

             <h3 v-animate-css="'fadeInUp'" class="sans-serif-text">Courtney N. Moran, LLM</h3>
               <h3 v-animate-css="{
      classes: 'fadeInUp',
      delay: 1000,
      duration: 1000,
      }" class="sans-serif-text">Founding principal of EARTH Law, LLC</h3>

           </b-col>
        </b-row>
      </div>
    </b-col>
  </b-row>
  <b-row>
    <b-col class="tag-line">
      <h3 v-animate-css="{
classes: 'fadeInUp',
delay: 2000,
duration: 1000,
}" class="sans-serif-text"><i>Leading expert on industrial hemp law.</i></h3>
      <h3 v-animate-css="{
classes: 'fadeInUp',
delay: 3000,
duration: 1000,
}" class="sans-serif-text"><i>Championing legal policy for a sustainable Cannabis hemp industry.</i></h3>
    </b-col>
  </b-row>

</div>
