<div class="hero" id="practice">
  <b-row class="justify-content-center">
    <h2 class="center">Schedule an Appointment</h2>
  </b-row>
  <b-row class="justify-content-center">
    <p>
      In order to schedule an appointment with Courtney
    </p>
  </b-row>
  <b-row class="justify-content-center">
      <a id="Setmore_button_iframe" style="float:none" href="https://my.setmore.com/bookingpage/b0d2e43e-98ab-48cd-a4cb-bd459e3e77fd"><img border="none" src="https://my.setmore.com/images/bookappt/SetMore-book-button.png" alt="Book an appointment with FakeLaw using SetMore" />
      </a>
  </b-row>
</div>
