<div class="hero" id="practice">
  <h2 class="center">Our Practice Areas</h2>
  <b-row class="justify-content-center">
    <b-card-group deck>
      <div>
        <b-card title="Legal Defense"
                border-variant="success"
                :img-src="images[0].url"
                img-top
                tag="article"
                text-variant="success center"
                style="max-width: 20rem;"
                class="mb-2">
          <p class="card-text">
            As a Criminal Defense Attorney Courtney has defended clients.
          </p>
          <b-button href="#" variant="success">Go somewhere</b-button>
        </b-card>
      </div>
      <div>
        <b-card title="Counseling for the Hemp Industry"
                border-variant="success"
                :img-src="images[1].url"
                img-alt="Image"
                img-bottom
                text-variant="success center"
                tag="article"
                style="max-width: 20rem;"
                class="mb-2">
          <p class="card-text">
            As a Criminal Defense Attorney Courtney has defended clients.
          </p>
          <b-button href="#" variant="success">Go somewhere</b-button>
        </b-card>
      </div>
      <div>
        <b-card
                border-variant="success"
                title="Legislative Advocacy"
                :img-src="images[2].url"
                img-top
                text-variant="success center"
                tag="article"
                style="max-width: 20rem;"
                class="mb-2">
          <p class="card-text">
            As a Criminal Defense Attorney Courtney has defended clients.
          </p>
          <b-button href="#" variant="success">Go somewhere</b-button>
        </b-card>
      </div>
    </b-card-group>
  </b-row>
</div>
