<div class="hero" id="practice">
  <h2 class="green_text heading_text">Some Services We Offer...</h2>
  <b-row align-v="center sans-serif-text green_text">
    <b-col md="5" offset-md="1">
      <ul class="list-unstyled">
        <b-media tag="li" class="area">
        <icon class="green_text" name="leaf" :width="128" :height="128"></icon>
          <h5 class="mt-0 mb-1"><strong>Authoring</strong> forward-thinking legislation for Cannabis legalization and implementation throughout the U.S.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <icon class="green_text" name="leaf" :width="128" :height="128"></icon>
          <h5 class="mt-0 mb-1"><strong>Advising</strong> state agencies on policy surrounding the implementation of Cannabis cultivation and manufacturing in their state.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <icon class="green_text" name="leaf" :width="128" :height="128"></icon>
          <h5 class="mt-0 mb-1"><strong>Providing</strong> strategic analysis of state and federal law to resolve client issues.</h5>
        </b-media>
      </ul>
    </b-col>
    <b-col md="5">
      <ul class="list-unstyled">
        <b-media tag="li" class="area">
          <icon class="green_text" name="leaf" :width="128" :height="128"></icon>
          <h5 class="mt-0 mb-1"><strong>Facilitating</strong> obtaining state and federal licenses and permits.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <icon class="green_text" name="leaf" :width="128" :height="128"></icon>
          <h5 class="mt-0 mb-1"><strong>Ensuring</strong> client&#39;s compliance with state and federal regulations.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <icon class="green_text" name="leaf" :width="128" :height="128"></icon>
          <h5 class="mt-0 mb-1"><strong>Educating</strong> farmers and entrepreneurs on all aspects of industrial hemp and the Cannabis genus.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <icon class="green_text" name="leaf" :width="128" :height="128"></icon>
          <h5 class="mt-0 mb-1">  <strong>Counseling</strong> institutions of higher education and others interested in developing agricultural pilot programs to research industrial hemp.</h5>
        </b-media>
      </ul>
    </b-col>
  </b-row>
</div>
