<div class="hero" id="practice">
  <h2 class="center">Some Services We Offer</h2>
  <b-row align-v="center">
    <b-col md="5" offset-md="1">
      <ul class="list-unstyled">
        <b-media tag="li" class="area">
          <b-img :src="images[2].url" width="128" height="128" alt="placeholder" rounded="circle"/>
          <h5 class="mt-0 mb-1"><strong>Author</strong> forward-thinking legislation for Cannabis legalization and implementation throughout the U.S.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <b-img :src="images[2].url" width="128" height="128" alt="placeholder" rounded="circle" />
          <h5 class="mt-0 mb-1"><strong>Advise</strong> state agencies on policy surrounding the implementation of Cannabis cultivation and manufacturing in their state.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <b-img :src="images[2].url" width="128" height="128" alt="placeholder" rounded="circle" />
          <h5 class="mt-0 mb-1"><strong>Provide</strong> strategic analysis of state and federal law to resolve client issues.</h5>
        </b-media>
      </ul>
    </b-col>
    <b-col md="5">
      <ul class="list-unstyled">
        <b-media tag="li" class="area">
          <b-img :src="images[2].url" width="128" height="128" alt="placeholder" rounded="circle" />
          <h5 class="mt-0 mb-1"><strong>Facilitate</strong> obtaining state and federal licenses and permits.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <b-img :src="images[2].url" width="128" height="128" alt="placeholder" rounded="circle" />
          <h5 class="mt-0 mb-1"><strong>Ensure</strong> client&#39;s compliance with state and federal regulations.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <b-img :src="images[2].url" width="128" height="128" alt="placeholder" rounded="circle" />
          <h5 class="mt-0 mb-1"><strong>Educate</strong> farmers and entrepreneurs on all aspects of industrial hemp and the Cannabis genus.</h5>
        </b-media>
        <b-media tag="li" class="area">
          <b-img :src="images[2].url" width="128" height="128" alt="placeholder" rounded="circle" />
          <h5 class="mt-0 mb-1">  <strong>Counsel</strong> institutions of higher education and others interested in developing agricultural pilot programs to research industrial hemp.</h5>
        </b-media>
      </ul>
    </b-col>
  </b-row>
  <!-- <b-row align-v="center">
    <b-card-group deck class="justify-content-center">
      <div class="w-25 h-50">
        <b-card title="Legal Defense"
                border-variant="success"
                :img-src="images[0].url"
                img-top
                tag="article"
                text-variant="success center"
                class="mb-2">
          <p class="card-text">
            As a Criminal Defense Attorney Courtney has defended clients.
          </p>
          <b-button href="#" variant="success">Go somewhere</b-button>
        </b-card>
      </div>
      <div class="w-25 h-50">
        <b-card title="Counseling for the Hemp Industry"
                border-variant="success"
                :img-src="images[1].url"
                img-alt="Image"
                img-bottom
                text-variant="success center"
                tag="article"
                class="mb-2">
          <p class="card-text">
            As a Criminal Defense Attorney Courtney has defended clients.
          </p>
          <b-button href="#" variant="success">Go somewhere</b-button>
        </b-card>
      </div>
      <div class="w-25 h-50">
        <b-card
                border-variant="success"
                title="Legislative Advocacy"
                :img-src="images[2].url"
                img-top
                text-variant="success center"
                tag="article"
                class="mb-2">
          <p class="card-text">
            As a Criminal Defense Attorney Courtney has defended clients.
          </p>
          <b-button href="#" variant="success">Go somewhere</b-button>
        </b-card>
      </div>
    </b-card-group>
  </b-row> -->
</div>
