@import url('https://fonts.googleapis.com/css?family=Lato|Lora');

$brand:  'Lora', serif;
$text: 'Lato', sans-serif;

.green_text {
  color: #228b22;
}

.heading_text {
  font-weight: bold;
  font-family: $brand;
}

.header_contact {
  text-align: center;
}

.sans-serif-text {
  font-family: $text;
}

.fa-icon {
  width: auto;
  height: 3em; /* or any other relative font sizes */

  /* You would have to include the following two lines to make this work in Safari */
  max-width: 100%;
  max-height: 100%;
}
