// .fa-icon {
//   width: auto;
//   height: 3em; /* or any other relative font sizes */
//
//   /* You would have to include the following two lines to make this work in Safari */
//   max-width: 100%;
//   max-height: 100%;
// }

.landing-hero {
  background-color: white !important;
}

#carousel-col {
  padding: 0.5em;
  border-radius: 25px;
  border: 5px solid #228b22;
}


#tag-line {
  border-radius: 25px;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 0.5em;
}

.down:hover {
  color: blue;
}
